body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  margin-left: 156px;
  margin-top: 24px;
}

.logo span {
  color: #2e2f42;
}

.link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

address {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.contact-link {
  display: flex;
  margin-left: auto;
  font-style: normal;
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-title {
  font-size: 56px;

  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  color: #ffffff;

  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
.header {
  width: 1440px;
  height: 72px;
  background-color: #ffffff;

  display: flex;
  align-items: center;

  margin: 0 auto;
}

/* menu-nav icerisinde Studio Portfolio Contacts tutuyor
bu nav icinde link tutan sirasiz bir liste var
bu listenin ul class'i menu-link



*/
.menu-nav {
  width: 261px;
  height: 24px;

  display: flex;
  margin-top: 24px;
  margin-left: 76px;
  gap: 40px;
}
.menu-link {
  display: flex;
  gap: 30px;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}
